<div class="container">
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h2>{{{data.page.content.brief}}}</h2>
		</div>
		<div class="col-sm-12 col-md-12">
			{{#if data.page}}
				{{{data.page.content.full}}}
			{{else}}
				<h2>Nothing there</h2>
			{{/if}}	
		</div>
	</div>
	{{! {{>pagination}}
</div>
