<!DOCTYPE html>
<html>
<head>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		td, th {
			text-align: left;
			vertical-align:top;
			padding: 8px;
		}

	</style>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Rechercher un choeur</h1>

<form action="">
	<table>
		<tr>
			<td><b>Qui ?</b></td>
			<td><select id="mySelect">
				<option disabled selected>Sélectionner des membres</option>
				<option>Tous</option>
				<option>Membres de la Fédération</option>
				<option>Non-membres de la Fédération</option>
			</select></td>
		</tr>
		<tr>
			<td><b>Région linguistique ?</b></td>
			<td><select id="mySelect">
				<option disabled selected>Sélectionner une région linguistique</option>
				<option>Tous</option>
				<option>Valais Romand</option>
				<option>Haut-Valais</option>
			</select></td>
		</tr>
		<tr>
			<td><b>Groupement ?</b></td>
			<td><select id="mySelect">
				<option disabled selected>Sélectionner un groupement</option>
				<option>Tous</option>
				<option>GSCBV</option>
				<option>UCC</option>
				<option>GCVC</option>
				<option>OCV</option>
			</select></td>
		</tr>
		<tr>
			<td><b>Type de choeurs ?</b></td>
			<td><select id="mySelect">
				<option disabled selected>Sélectionner un type de choeurs</option>
				<option>Tous</option>
				<option>Ch. d'adultes</option>
				<option>Ch. mixte</option>
				<option>Ch. d'hommes</option>
				<option>Ch. de dames</option>
				<option>Ch. de jeunes</option>
				<option>CCh. d'enfants</option>
			</select></td>
		</tr>
		<tr>
			<td><b>Président de choeur ?</b></td>
			<td><select id="mySelect">
				<option disabled selected>Sélectionner un Président de choeur</option>
				<option>ASA-Valais</option>
				<option>Allenbach Alexander</option>
				<option>Alvarez Christian</option>
				<option>Amacker Klaus</option>
			</select></td>
		</tr>
		<tr>
			<td><b>Chef de choeur ?</b></td>
			<td><select id="mySelect">
				<option disabled selected>Sélectionner un Chef de choeur</option>
				<option>Abet Stéphane</option>
				<option>Abbé-Savioz Sabine</option>
				<option>Abgottspon Jörg</option>
				<option>Abgottspon Raoul</option>
			</select></td>
		</tr>
	</table>
	<br/>
	<input type="submit" value="Rechercher">
	<input type="reset" value="Effacer">
</form>

</section>
</body>
</html>
