<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
	
<h1>Comité de la FSCV</h1>
<p><b>Comité directeur</b></p>
<ul>
	<li>
		<a href="#laurentBovier" data-toggle="collapse">Laurent Bovier, Président de la FSCV</a>
		<figure id="#laurentBovier" class="collapse">
			<img src="laurent_bovier.jpg" alt="Laurent Bovier" width="170">
			<figcaption>
				Route du Sanetsch 11<br/>
				1950 Sion<br/>
				078/657.43.77<br/>
				laubov@bluewin.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#valentinDayer" data-toggle="collapse">Valentin Dayer, Responsable des Projets Relève de la FSCV</a>
		<figure id="#valentinDayer" class="collapse">
			<img src="valentin_dayer.jpg" alt="Valentin Dayer" width="170">
			<figcaption>
				Petit-Chasseur 60<br/>
				1950 Sion<br/>
				079/531.33.82<br/>
				valentin.dayer@gmail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#blaiseLovisa" data-toggle="collapse">Blaise Lovisa, Responsable Communication de la FSCV</a>
		<figure id="#blaiseLovisa" class="collapse">
			<img src="blaise_lovisa.jpg" alt="Blaise Lovisa" width="170">
			<figcaption>
				Rte du St-Bernard 14<br/>
				1937 Orsières<br/>
				027/565.52.82<br/>
				blovisa@chanter.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#nadineMeyer" data-toggle="collapse">Nadine Meyer, Secrétaire de l'UCC et de la FSCV</a>
		<figure id="#nadineMeyer" class="collapse">
			<img src="nadine_meyer.jpg" alt="Nadine Meyer" width="170">
			<figcaption>
				Près du Torrent 57A<br/>
				1964 Conthey<br/>
				079/469.78.93<br/>
				nadine.meyer@netplus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#fabienAlbasini" data-toggle="collapse">Fabien Albasini, Responsable logistique de la FSCV</a>
		<figure id="#fabienAlbasini" class="collapse">
			<img src="fabien_albasini.jpg" alt="Fabien Albasini" width="170">
			<figcaption>
				Rue des Bourneaux 15<br/>
				1913 Saillon<br/>
				079/379.49.03<br/>
				fabienalbasini@gmail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#lineHosennen" data-toggle="collapse">Lina Hosennen</a>
		<figure id="#lineHosennen" class="collapse">
			<img src="line_hosennen.jpg" alt="Lina Hosennen" width="170">
			<figcaption>
				lina@hosennen.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#stephanieFournier" data-toggle="collapse">Stéphanie Fournier, Commission Communication, Webmaster</a>
		<figure id="#stephanieFournier" class="collapse">
			<img src="stephanie_fournier.jpg" alt="Stéphanie Fournier" width="170">
			<figcaption>
				Route de Chippis 14<br/>
				1950 Sion<br/>
				076/439.72.95<br/>
				stephanie.fournier@mail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#christianDessimoz" data-toggle="collapse">Christian Dessimoz, Trésorier de la FSCV et de l'UCC</a>
		<figure id="#christianDessimoz" class="collapse">
			<img src="christian_dessimoz.jpg" alt="Christian Dessimoz" width="170">
			<figcaption>
				Rue de Maëraux 21<br/>
				1976 Erde<br/>
				027/346.30.31<br/>
				info@fid-dessimoz.ch
			</figcaption>
		</figure>
	</li>
</ul>
</br>
<p><b>Présidents des groupements</b></p>
<ul>
	<li>
		<a href="#isabelleKnubel" data-toggle="collapse">Isabelle Knubel, Présidente OCV</a>
		<figure id="#isabelleKnubel" class="collapse">
			<img src="isabelle_knubel.jpg" alt="Isabelle Knubel" width="170">
			<figcaption>
				Mühlackerstrasse 8B<br/>
				3930 Visp<br/>
				079/725.30.67<br/>
				isabelle.knubel@gmx.net
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#robertGaydescombes" data-toggle="collapse">Robert Gay-des-Combes, Président du GSCBV</a>
		<figure id="#robertGaydescombes" class="collapse">
			<img src="robert_gaydescombes.jpg" alt="Robert Gay-des-Combes" width="170">
			<figcaption>
				Rue des Epineys 16 B<br/>
				1920 Martigny<br/>
				027/722.50.62<br/>
				079/433.16.19</br>
				robert.gdc@mycable.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#jeanpaulVarone" data-toggle="collapse">Jean-Paul Varone, Président du GCVC</a>
		<figure id="#jeanpaulVarone" class="collapse">
			<img src="jean-paul_varone.jpg" alt="Jean-Paul Varone" width="170">
			<figcaption>
				Route de Bramois, 48<br/>
				1967 Bramois<br/>
				027/203.65.88<br/>
				078/603.65.88</br>
				jpaulvarone@netplus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#michelBarras" data-toggle="collapse">Michel Barras, Président de l'UCC</a>
		<figure id="#michelBarras" class="collapse">
			<img src="michel_barras.jpg" alt="Michel Barras" width="170">
			<figcaption>
				Ch. des Bioleys de Cor 4<br/>
				1996 Basse-Nendaz<br/>
				078/767.00.51<br/>
				michel.barras@aproz.ch
			</figcaption>
		</figure>
	</li>
</ul>
</br>
<p><b>Co-Présidents de la Comission de Musique</b></p>
<ul>
	<li>
		<a href="#sophieBender" data-toggle="collapse">Sophie Bender, Co-présidente de la Commission de Musique, Choeur en Herbe</a>
		<figure id="#sophieBender" class="collapse">
			<img src="sophie_bender.jpg" alt="Sophie Bender" width="170">
			<figcaption>
				Rue du Tilleul 62<br/>
				1926 Fully<br/>
				027/746.26.86<br/>
				076/496.75.95</br>
				bendersophie@gmail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#marieFavre" data-toggle="collapse">Marie Favre, Co-Présidente de la Commission de Musique, un Air de Montagne</a>
		<figure id="#marieFavre" class="collapse">
			<img src="marie_favre.jpg" alt="Marie Favre" width="170">
			<figcaption>
				Ch. de la Crête 17</br>
				1950 Sion</br>
				027/203.32.70</br>
				079/309.31.75</br>
				marie.favre@outlook.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#jeandavidWaeber" data-toggle="collapse">Jean-David Waeber, Co-président de la Commission de Musique et président de l'AVCC</a>
		<figure id="#jeandavidWaeber" class="collapse">
			<img src="jean-david_waeber.jpg" alt="Jean-David Waeber" width="170">
			<figcaption>
				Rte de Crans 27</br>
				1978 Lens</br>
				027/483.25.94</br>
				079/930.25.43</br>
				jdwaeber@gmail.com
			</figcaption>
		</figure>
	</li>
</ul>
</br>
<p><b>Porte-Drapeau et délégué AGACH</b></p>
<ul>
	<li>
		<a href="#fredericBarman" data-toggle="collapse">Frédéric Barman, Porte-Drapeau de la FSCV</a>
		<figure id="#fredericBarman" class="collapse">
			<img src="frederic_barman.jpg" alt="Frédéric Barman" width="170">
			<figcaption>
				Ch. des Ceps 26A<br/>
				1926 Fully<br/>
				027/746.36.54<br/>
				079/428.45.08
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#andreWerlen" data-toggle="collapse">André Werlen, Délégué AGACH</a>
		<figure id="#andreWerlen" class="collapse">
			<img src="andre_werlen.jpg" alt="Michel Barras" width="170">
			<figcaption>
				werlenandre@hotmail.com
			</figcaption>
		</figure>
	</li>
</ul>

</section>
</body>
</html>
