<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
	
<h1>Comité AVCC</h1>
<p>Coordonnées des membres du Comité AVCC 2018-2019</p>
<img src="" alt="Coordonnées des membres du Comité AVCC 2018-2019" style="width:200px">

</section>
</body>
</html>
