<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
	
<h1>Commission de musique</h1>
<ul>
	<li>
		<a href="#sophieBender" data-toggle="collapse">Sophie Bender, Co-présidente de la Commission de Musique, Choeur en Herbe</a>
		<figure id="#sophieBender" class="collapse">
			<img src="sophie_bender.jpg" alt="Sophie Bender" width="170">
			<figcaption>
				Rue du Tilleul 62</br>
				1926 Fully</br>
				027/746.26.86</br>
				076/496.75.95</br>
				bendersophie@gmail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#marieFavre" data-toggle="collapse">Marie Favre, Co-Présidente de la Commission de Musique, un Air de Montagne</a>
		<figure id="#marieFavre" class="collapse">
			<img src="marie_favre.jpg" alt="Marie Favre" width="170">
			<figcaption>
				Ch. de la Crête 17</br>
				1950 Sion</br>
				027/203.32.70</br>
				079/309.31.75</br>
				marie.favre@outlook.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#jeandavidWaeber" data-toggle="collapse">Jean-David Waeber, Co-président de la Commission de Musique et président de l'AVCC</a>
		<figure id="#jeandavidWaeber" class="collapse">
			<img src="jean-david_waeber.jpg" alt="Jean-David Waeber" width="170">
			<figcaption>
				Rte de Crans 27</br>
				1978 Lens</br>
				027/483.25.94</br>
				079/930.25.43</br>
				jdwaeber@gmail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#laurenceLattionAvanthay" data-toggle="collapse">Laurence Lattion-Avanthay, Membre Commission de Musique, Formations et Un Air de Montagne</a>
		<figure id="#laurenceLattionAvanthay" class="collapse">
			<img src="laurence_lattion-avanthay.jpg" alt="Laurence Lattion-Avanthay" width="170">
			<figcaption>
				Pré-Géroux 5</br>
				1893 Muraz</br>
				024/471.67.30</br>
				079/508.01.34</br>
				laurencelattion@yahoo.fr
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#elodieZermatten" data-toggle="collapse">Elodie Zermatten, Membre Commission de Musique, Frapp'Festival</a>
		<figure id="#elodieZermatten" class="collapse">
			<img src="elodie_zermatten.jpg" alt="Elodie Zermatten" width="170">
			<figcaption>
				Rte de la Roche 8</br>
				1982 La Luette</br>
				079/660.84.39</br>
				elodie.zermatten@gmail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#thierryEpiney" data-toggle="collapse">Thierry Epiney, Membre Commission de Musique, Musica Vallensis et Projets Relève</a>
		<figure id="#thierryEpiney" class="collapse">
			<img src="thierry_epiney.jpg" alt="Thierry Epiney" width="170">
			<figcaption>
				Rue de Villa 6</br>
				3960 Sierre</br>
				079/257.31.74</br>
				thierry.epiney@genac.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#philippeSierro" data-toggle="collapse">Philippe Sierro, Membre Commission de Musique, Concert des Quatuors et Frapp'Festival</a>
		<figure id="#philippeSierro" class="collapse">
			<img src="philippe_sierro.jpg" alt="Philippe Sierro" width="170">
			<figcaption>
				Av. Petit-Chasseur 29</br>
				1950 Sion</br>
				079/612.87.38</br>
				contact@philippesierro.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#adrianZenhausern" data-toggle="collapse">Adrian Zenhäusern, Membre de la Commission de Musique, CVJ et Haut-Valais</a>
		<figure id="#adrianZenhausern" class="collapse">
			<img src="adrian_zenhausern.jpg" alt="Adrian Zenhäusern" width="170">
			<figcaption>
				Altzeneggenstrasse 29</br>
				3934 Zeneggen</br>
				027/945 10 86</br>
				adrian.zenhaeusern@spiritus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#christopherMair" data-toggle="collapse">Christopher Mair, Membre de la Commission de Musique, OCV</a>
		<figure id="#christopherMair" class="collapse">
			<img src="christopher_mair.jpg" alt="Christopher Mair" width="170">
			<figcaption>
				Kapuzinerstrasse 33</br>
				3900 Brig</br>
				079/816.07.05</br>
				christophermair@gmx.at
			</figcaption>
		</figure>
	</li>
</ul>

</section>
</body>
</html>
