<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Contacts</h1>
<p>Merci de nous laisser un message via ce formulaire, et nous reviendrons vers vous au plus vite.</p>

<form action="">
	Nom: *<br/>
    <input type="text" name="Nom" required>
    <br/><br/>
    Email: *<br/>
    <input type="text" name="Email" required>
    <br/><br/>
    Sujet: *<br/>
    <input type="text" name="Sujet" required>
    <br/><br/>
    Message: *<br/>
    <textarea rows="8" cols="50" required></textarea>
    <br/><br/>
    <input type="submit" value="Envoyer">
</form> 

</section>
</body>
</html>
