<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Fonds choral et Foyer AVCC</h1>
<p>Le Foyer AVCC est un lieu de rencontre convivial où venir seul, avec sa commission de musique ou avec son comité pour consulter des partitions et des documents avant de bâtir un programme. Tous les documents sont à consulter sur place. Ils sont visibles dans le catalogue RERO, avec une multitude de renseignements utiles aux chefs de chœurs. Dès le début 2018, une partie de cette musique a été placée au libre accès de la Médiathèque-Valais pour être consultée librement. Cependant, il sera encore possible de prendre rendez-vous avec l’archiviste pour une recherche spécifique ou des conseils.</p>
<p>La Médiathèque Valais à Sion se trouve à la Rue de Lausanne 45.</p>
</br>
<p>Pour la recherche et la consultation des partitions, prendre préalablement contact avec :</p>
<p>Anne-Françoise Andenmatten Sierro</p>
<p>Tél. privé : 027 323 19 28 ou 079 232 54 02</p>
<p>E-mail : <a href="">annef-vociamici@bluewin.ch</a></p>
</br>
<p>Près de 20’000 partitions</p>
<ul>
	<li>Profanes</li>
	<li>Religieuses</li>
	<li>De toutes époques et de tous genres</li>
	<li>De différentes maisons d'édition</li>
	<li>Pour tous types de choeurs: mixtes, dames, hommes, jeunes, enfants</li>
</ul>
</br>
<p>Des livres et des documentaires</p>
<ul>
	<li>Théorie musicale</li>
	<li>Musique chorale et compositeurs</li>
	<li>Direction chorale</li>
	<li>Pose de voix</li>
	<li>Enregistrements</li>
	<li>Revues liturgiques (Choristes, Voix Nouvelles, Signes Musiques, Chantons en Eglise, etc.)</li>
	<li>Documents sur la liturgie, ses acteurs, ses rites, etc.</li>
</ul>

</section>
</body>
</html>
