<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Plan général de formation 2018-2019</h1>
<p>Voici le programme de formation pour la saison 2018-2019. Il est ouvert à tous les membres de la Fédération, tous groupements confondus.</p>
<a href=""><img src="" alt="Plan général de formation 2018-2019" width="400"></a>

</section>
</body>
</html>
