<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Forum des présidents et contrats</h1>
<p>Le premier forum des présidents a lieu le <b>samedi 2 juin, de 9h à 11h, à l’Espace Création, Rue de la Dixence 10, Sion.</b></p>
<p><a href="">Présentation PPT</a> et <a href="">exemple de calcul pour la caisse de compensation</a></p>
<p><b>Documents en liens avec l’événement</b></p>
<ul>
	<li><a href="">Exemples de décomptes salaires</a></li>
	<li><a href="">Contrat type et fiche explicative USC</a></li>
	<li><a href="">Guide pour sociétés de musique</a></li>
</ul>
<p><b>Modèles à télécharger</b></p>
<ul>
	<li><a href="">Modèle de contrat – Chef de choeur</a></li>
	<li><a href="">Modèle de statuts</a></li>
	<li><a href="">Modèle de contrat – Jury UCC Festival</a></li>
</ul>
<p>Des documents très complets sont à télécharger sur le site de l’ACMV : <a href="">http://www.acmv.ch/downloads/</a></p>
<p>Outil de certificat de salaire de la Confédération :<a href="">https://www.estv.admin.ch/estv/fr/home/direkte-bundessteuer/dienstleistungen/elohnausweis-ssk.html</a></p>

</section>
</body>
</html>
