<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
	
<h1>Historique AVCC</h1>
<p><b>Objectif</b></p>
<p>Soucieuse d’offrir aux responsables de la musique chorale l’occasion de parfaire leur formation auprès d’animateurs compétents ou de partager soucis et joies entre collègues, l’AVCC poursuit son activité initiale en proposant ses encouragements et ses services.</p>
</br>
<p><b>Fondation</b></p>
<p>A la suite d’un week-end de l’AVDC (Association Vaudoise des Directeurs de Chœurs) à Vérossaz, une dizaine de chefs de chœur valaisans décidèrent de la fondation de l’AVCC, l’Association Valaisanne des Chefs de Chœur. Cette fondation eut lieu le 11 octobre 1969 autour de M. Fernand Dubois, le regretté président de la Fédération Cantonale de Chant. L’assemblée fondatrice eut lieu à Sion le 13 décembre 1969 en présence d’une trentaine de chefs qui répondirent à l’appel.</p>
</br>
<p><b>Présidents</b></p>
<p>Présidée successivement par MM. Armand Blanc, Jean-Pierre Salamin, Pierre-Louis Nanchen, Pierre-Alain Barras, Samuel Emery et, depuis 2014, Jean-David Waeber, l’AVCC n’a cessé de poursuivre, tout en les adaptant aux goûts et aux besoins du moment, les objectifs que s’étaient fixés les initiateurs et fondateurs.</p>
</br>
<p><b>Foyer</b></p>
<p>Le Foyer Musical, ouvert par l’AVCC le 28 août 1979 en la Maison Supersaxo à Martigny fut déplacé à Sion en 1981, au Foyer Don Bosco, puis au home de Mazerette jusqu’en 2009. Cette année-là, l’AVCC a légué à la Médiathèque Valais son fonds de partitions afin de lui donner une plus grande visibilité auprès du public. Année après année ce fonds s’est étoffé pour rassembler et proposer aujourd’hui près de 20’000 partitions et de nombreux recueils, collections ou supports audio, le tout répertorié par M. Edouard Delaloye, premier animateur, puis par Mme Anne-Françoise Andenmatten-Sierro, actuelle archiviste de l’association, en activité depuis 1985.</p>
<p><a href="">Historique complet de Léon Jordan</a></p>

</section>
</body>
</html>
