<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>La FSCV recrute</h1>
<p>Le comité de la Fédération des Sociétés de Chant recrute :</p>
<ul>
	<li>des traducteurs français/allemand</li>
	<li>des gestionnaires de projets</li>
	<li>des spécialistes administratifs</li>
	<ul>
		<li>rédaction de PV</li>
		<li>rédaction de contrats</li>
		<li>rédaction de dossiers marketing</li>
		<li>rédaction de dossiers financiers</li>
	</ul>
	<li>des informaticiens ou websolutions</li>
	<li>des chasseurs de fonds, sponsors et autres</li>
	<li>des spécialistes en communications</li>
	<li>des Event Creator</li>
	<li>des spécialistes logistiques, constructions</li>
	<li>des consultatns légaux, sono</li>
	<li>des transporteurs pour matériel de musique</li>
	<li>des comptables</li>
</ul>
<p>Les personnes intéressées à s’investir pour la FSCV sont priées de s’adresser au président, M. Laurent Bovier, au numéro 078 657 43 77.</p>

</section>
</body>
</html>
