<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
	
<h1>Membres d'honneur</h1>
<ul>
	<li>
		<a href="#beatriceAlbasini" data-toggle="collapse">Béatrice Albasini</a>
		<figure id="#beatriceAlbasini" class="collapse">
			<img src="pas_d_image.jpg" alt="Béatrice Albasini" width="170">
			<figcaption>
				Rue de la Poste 10<br/>
				1926 Fully<br/>
				079/679.75.14<br/>
				bealbasini@gmail.com
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#pierrealainBarras" data-toggle="collapse">Pierre-Alain Barras</a>
		<figure id="#pierrealainBarras" class="collapse">
			<img src="pierre-alain_barras.jpg" alt="Pierre-Alain Barras" width="170">
			<figcaption>
				Sentier de Rayola 10 </br>
				3968 Veyras</br>
				027/455.01.63</br>
				078/605.34.17</br>
				pialba@netplus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#paulBourban" data-toggle="collapse">Paul Bourban</a>
		<figure id="#paulBourban" class="collapse">
			<img src="pas_d_image.jpg" alt="Paul Bourban" width="170">
			<figcaption>
				Rue du Mont 29</br>
				1950 Sion</br>
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#norbertCarlen" data-toggle="collapse">Norbert Carlen</a>
		<figure id="#norbertCarlen" class="collapse">
			<img src="norbert_carlen.jpg" alt="Norbert Carlen" width="170">
			<figcaption>
				Rond Point Paradis 11</br>
				3960 Sierre</br>
				027/455.88.45</br>
				079/303.81.84</br>
				n.carlen@netplus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#edouardDelalay" data-toggle="collapse">Edouard Delalay</a>
		<figure id="#edouardDelalay" class="collapse">
			<img src="pas_d_image.jpg" alt="Edouard Delalay" width="170">
			<figcaption>
				Rue de l'Eglise</br>
				1958 St-Léonard</br>
				027/203.11.36
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#samuelEmery" data-toggle="collapse">Samuel Emery</a>
		<figure id="#samuelEmery" class="collapse">
			<img src="samuel_emery.jpg" alt="Samuel Emery" width="170">
			<figcaption>
				Route de Granges 78</br>
				3978 Flanthey</br>
				027/458.27.57</br>
				079/276.62.82</br>
				sam.emery@bluemail.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#leoFardel" data-toggle="collapse">Léo Fardel</a>
		<figure id="#leoFardel" class="collapse">
			<img src="pas_d_image.jpg" alt="Léo Fardel" width="170">
			<figcaption>
				Rte de Villa 20</br>
				1966 Ayent/Botyre</br>
				027/398.16.86</br>
				027/398.52.77</br>
				079/220.43.80</br>
				fleo@netplus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#emmanuelGexCollet" data-toggle="collapse">Emmanuel Gex-Collet</a>
		<figure id="#emmanuelGexCollet" class="collapse">
			<img src="pas_d_image.jpg" alt="Emmanuel Gex-Collet" width="170">
			<figcaption>
				Rte de la Cretta 12</br>
				1870 Monthey</br>
				024/471.66.54</br>
				024/471.66.54</br>
				079/433.29.29</br>
				emmanuel.gex-collet@bluewin.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#elisabethGillioz" data-toggle="collapse">Elisabeth Gillioz</a>
		<figure id="#elisabethGillioz" class="collapse">
			<img src="elisabeth_gillioz.jpg" alt="Elisabeth Gillioz" width="170">
			<figcaption>
				Mazerette 44</br>
				1950 Sion</br>
				027/322.27.85</br>
				079/780.16.24</br>
				elisabeth.gillioz@bluewin.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#oscarLagger" data-toggle="collapse">Oscar Lagger</a>
		<figure id="#oscarLagger" class="collapse">
			<img src="pas_d_image.jpg" alt="Oscar Lagger" width="170">
			<figcaption>
				Rue du tunnel 10</br>
				1950 Sion</br>
				027/321.16.92
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#claudeLamon" data-toggle="collapse">Claude Lamon</a>
		<figure id="#claudeLamon" class="collapse">
			<img src="pas_d_image.jpg" alt="Claude Lamon" width="170">
			<figcaption>
				Chemin du Tsaretton 43</br>
				3978 Flanthey</br>
				027/458.17.47</br>
				clamon@netplus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#damienLuy" data-toggle="collapse">Damien Luy</a>
		<figure id="#damienLuy" class="collapse">
			<img src="damien_luy.jpg" alt="Damien Luy" width="170">
			<figcaption>
				Rue Martin 12</br>
				1957 Ardon</br>
				027/744.17.34</br>
				078/659.20.99</br>
				damien.luy@bluewin.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#pierreLouisNanchen" data-toggle="collapse">Pierre-Louis Nanchen</a>
		<figure id="#pierreLouisNanchen" class="collapse">
			<img src="pierre-louis _nanchen.jpg" alt="Pierre-Louis Nanchen" width="170">
			<figcaption>
				Ch. des Amandiers, 63</br>
				1950 Sion</br>
				027/323.45.56</br>
				027/323.45.25</br>
				079/431.67.02</br>
				plnanchen@bluewin.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#marcAntoineRobyr" data-toggle="collapse">Marc-Antoine Robyr</a>
		<figure id="#marcAntoineRobyr" class="collapse">
			<img src="pierre-louis _nanchen.jpg" alt="Marc-Antoine Robyr" width="170">
			<figcaption>
				Chemin des Pins 14</br>
				1971 Grimisuat</br>
				027/398.56.23</br>
				027/606.35.04</br>
				079/719.43.13</br>
				ma.robyr@bluewin.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#felixRuppenWalker" data-toggle="collapse">Felix Ruppen-Walker</a>
		<figure id="#felixRuppenWalker" class="collapse">
			<img src="felix_ruppen-walker.jpg" alt="Felix Ruppen-Walker" width="170">
			<figcaption>
				Landstrasse 36</br>
				3904 Naters</br>
				027/923.39.89</br>
				079/350.32.90</br>
				felix.ruppen@bluemail.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#jeanPierreSalamin" data-toggle="collapse">Jean-Pierre Salamin</a>
		<figure id="#jeanPierreSalamin" class="collapse">
			<img src="pas_d_image.jpg" alt="Jean-Pierre Salamin" width="170">
			<figcaption>
				Chalet Clé de Sol</br>
				3961 Grimentz</br>
				027/475.18.06</br>
				079/628.88.52</br>
				jean-pierre.salamin@netplus.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#yvanStuder" data-toggle="collapse">Yvan Studer</a>
		<figure id="#yvanStuder" class="collapse">
			<img src="yvan_studer.jpg" alt="Yvan Studer" width="170">
			<figcaption>
				Vers St-Amé 2 / C.P. 54</br>
				1890 St-Maurice</br>
				024/485.23.10</br>
				079/210.39.50</br>
				yvanstuder@bluewin.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#philippeVarone" data-toggle="collapse">Philippe Varone</a>
		<figure id="#philippeVarone" class="collapse">
			<img src="philippe_varone.jpg" alt="Philippe Varone" width="170">
			<figcaption>
				Avenue Grand-Champsec 30</br>
				1950 Sion 4</br>
				027/203.56.83</br>
				027/203.47.07</br>
				079/221.12.57</br>
				philippe.varone@varone.ch
			</figcaption>
		</figure>
	</li>
	<li>
		<a href="#andreWerlen" data-toggle="collapse">André Werlen</a>
		<figure id="#andreWerlen" class="collapse">
			<img src="andre_werlen.jpg" alt="André Werlen" width="170">
			<figcaption>
				Galdinen 4</br>
				3952 Susten</br>
				027/473.24.49</br>
				079/401.97.72</br>
				werlenandre@bluewin.ch
			</figcaption>
		</figure>
	</li>
</ul>

</section>
</body>
</html>
