<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Petites annonces</h1>
<p>Suite à la démission de son titulaire actuel après plus de vingt ans d’activité le CHOEUR PRO ARTE DE SION  https://proarte-sion.ch/ qui a une formation chorale mixte de 50 membres du Valais Central dont les répétitions se tiennent en français, en principe le lundi soir, lance un appel d’offres pour confier sa DIRECTION dès le 1er septembre 2019.</p>
<p><b>Profil requis :</b></p>
<ul>
	<li>Formation musicale avec bachelor ou master ou formation jugée équivalente</li>
    <li>Expérience dans la conception et la direction de projets multidisciplinaires</li>
    <li>Réseau élargi dans les milieux artistiques</li>
    <li>Bon contact social</li>
</ul>
<p><b>Tâches principales :</b></p>
<ul>
	<li>Responsabilité musicale et artistique du Chœur</li>
	<li>Choix de la programmation</li>
	<li>Recherche des lieux de concerts et des partenaires</li>
	<li>Organisation des répétitions</li>
</ul>
<p><b>Rémunération :</b></p>
<ul>
	<li>Sur la base des tarifs de la Fédération des sociétés de chant du Valais</li>
</ul>
<p><b>Dépôt des dossiers de candidatures :</b></p>
<ul>
	<li>Les dossiers complets avec curriculum vitae, certificats et lettre de motivation doivent être déposés jusqu’au 31 octobre 2018 à l’adresse suivante : M. François Genoud, président du Chœur pro Arte, chemin des Moulins 42 – 3960 Sierre ou par courriel à : mifr.genoud@gmail.com.</li>
	<li>Ils seront examinés par une commission d’audition. Les candidats retenus seront invités à une répétition probatoire en janvier 2019 en vue d’une décision avant le 15 février 2019.</li>
</ul>

</section>
</body>
</html>
