<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Plan général de formation 2018-2019</h1>

<p>Voici le programme de Formation 2014-15 de la FSCV et des groupements :</p>
<ul>
	<li><a href="">Plan général Formation 2014-15</a></li>
	<li><a href="">Travail vocal en chorale 2014-15</a></li>
</ul>

</section>
</body>
</html>
