<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
	
<h1>Présentation AVCC</h1>
<p>L’Association Valaisanne des Chefs de Choeurs (AVCC) est une association qui, depuis plus de 40 ans, veut promouvoir la formation continue des chefs de chœur grâce à des cours donnés par des intervenants réputés et de qualité. Elle tient à défendre les intérêts des chefs de chœurs, à promouvoir une formation continue de qualité, à favoriser les contacts entre ses sociétaires et les organes officiels, à offrir à ses membres une documentation spécialisée dans le domaine du chant choral.</p>
<p>Elle organise chaque année, seule ou en collaboration avec la Fédération des Sociétés de Chant du Valais, des séminaires avec des chefs renommés :</p>
<ul>
	<li>des journées de formation</li>
	<li>des soirées à thème</li>
	<li>des journées spéciales pour chefs de choeurs de jeunes ou d'enfants</li>
	<li>des activités autour du fonds choral déposé aurpès de la Médiathèque Valais</li>
</ul>
<p>Elle favorise également la rencontre et les échanges entre chefs et propose un vaste choix de plus de 20’000 partitions.</p>
<p>Merci de nous aider à faire connaître l’AVCC ! N’hésitez pas à nous communiquer vos souhaits, vos soucis, vos coups de cœur ou vos questions. Nous essayons de tout mettre en œuvre pour répondre à vos besoins.</p>
<p>N’hésitez pas à découvrir :</p>
<ul>
	<li><a href="">l'historique AVCC</a></li>
	<li><a href="">notre comité</a></li>
	<li><a href="">notre offre de formation</a></li>
	<li><a href="">notre fonds de partitions</a></li>
	<li><a href="">les photos de nos activités passées</a></li>
</ul>

</section>
</body>
</html>
