<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
	
<h1>Présentation</h1>
<p>La Fédération des Sociétés de Chant du Valais (FSCV) est une association membre de l’Union Suisse des Chorales (USC) regroupant des chœurs d’adultes, de jeunes et d’enfants du Valais Romand et du Haut-Valais.</p>
<p>Fondée en 1906, elle chapeaute l’Association Valaisanne des Chefs de Chœurs (AVCC) et 4 groupements régionaux : le Groupement des Sociétés de Chant du Bas-Valais (GSCBV), l’Union Chorale du Centre (UCC), le Groupement des Chanteurs du Valais Central (GCVC) et le Oberwalliser Chor- und Cäcilien Verband (OCV).</p>
<p>A ce jour, plus de 160 chorales d’adultes avec plus de 5000 chanteurs sont réunis au sein de la Fédération. Les chœurs de jeunes et d’enfants sont également membres de la Fédération, ce qui leur permet d’accéder aux offres de formation et au soutien des chorales d’adultes.</p>
<br/>
<h2>Groupements</h2>
<img src="carte-valais.gif" alt="Carte du Valais" width="80">
<p>4 groupements régionaux et l'AVCC : </p>
<ul>
	<li style="color:#FF6600">Groupement des Sociétés de Chant du Bas-Valais (GSCBV)</li>
	<li style="color:#FFFF00">Union Chorale du Centre (UCC)</li>
	<li style="color:#9900CC">Groupement des Chanteurs du Valais Central (GCVC)</li>
	<li style="color:#01FF01">Chœur du Haut-Valais et Association Cecilia (OCV)</li>
	<li style="color:#FFFFCD">Association Valaisanne des chefs de choeurs (AVCC)</li>
</ul>
<br/>
<h2>Organisation</h2>
<p>La FSCV est présidée avec compétence et enthousiasme par Laurent Bovier. Elle est composée d’un comité directeur, d’un comité cantonal et de la commission de musique. Les présidents des groupements régionaux et de l’AVCC sont également membres d’office du comité directeur.</p>
<img src="organigrammeFSCV.png" alt="Organigramme FSCV" width="150">
<a href="x.pdf">Cliquez ici pour télécharger les status de la FSCV adoptés pour l'Assemblée Générale du 22 mars 2014 à Brigue.</a>

</section>
</body>
</html>
