<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>SKJF – Soutien aux choeurs d’enfants et de jeunes</h1>
<p>Projet proposé par l’ASCEJ :  participation d’un grand chœur romand d’enfants et de jeunes au 6ème Festival Suisse de chœurs d’enfants et de jeunes (SKJF) organisé à Lugano, au Tessin, durant le week-end de l’Ascension, en mai 2017 (2 jours, voyage compris). La présentation du projet ci-jointe vous donne plus de détails.</p>
<p align="center"><b>Nous invitons donc les enfants et les jeunes de Suisse romande</b></p>
<p align="center"><b>à constituer un nouveau grand chœur éphémère.</b></p>
<p>Avant d’aller de l’avant de l’organisation de ce projet, nous avons besoin de connaître votre intérêt pour celui-ci et, notamment, <b>d’une inscription préalable – non définitive ! – de votre chorale.</b> Nous vous prions donc, si vous avez envie de faire partie des 300 choristes retenus pour le <b>grand Chœur romand d’enfants et de jeunes au Projet « ASCJ-SKJF-Tessin 2017 »</b>, de nous retourner <b>jusqu’au 1er novembre 2017</b> le document d’inscription préalable ci-joint.</p>
<p>Le principe de travail est le suivant :</p>
<ul>
	<li>1er novembre 2015 : Inscriptions préalables des chœurs</li>
	<li>Mi-septembre 2016 : Inscriptions définitives</li>
	<li>Dès octobre 2016 : Déchiffrage et travail par les chœurs déjà constitués</li>
	<li>Dès janvier 2017 : 3 répétitions collectives (2 par groupe + 1 générale) seront organisées en fonction de la provenance géographique des chœurs (pour ces 3 répétitions, les déplacements et frais seront à la charge des chœurs).</li>
</ul>
<p>Un premier budget permet d’estimer le coût du projet à environ CHF 100’000.-. Un montant de CHF 90.-/participant sera facturé. Il comprendra inscription, déplacement et hébergement au Tessin.</p>
<p>Nous espérons que ce projet sera porteur de dynamisme pour l’ensemble de l’art choral suisse et romand en particulier.</p>
<p><a href="">Présentation projet ASCEJ-SKJF-Tessin 2017ASCEJ-SKJF-Tessin 2017_Infos pour choeursASCEJ-SKJF-Tessin 2017_Formulaire inscription préalable</a></p>
<h3>Demande de soutien à un projet choral particulier</h3>
<p>Une demande de soutien financier pour un projet regroupant les chanteurs de, au minium, 2 cantons distincts peut être complétée grâce au document ci-dessous.</p>
<ul>
	<li><a href="">ASCEJ Critères à remplir pour formuler une demande de soutien à un projet choral particulierFormulaire pour une demande soutien</a></li>
	<li><a href="">Formulaire pour une demande soutien</a></li>
</ul>

</section>
</body>
</html>
