<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Travail vocal en chorale</h1>
<p>Des exercices ludiques de mise en voix, des conseils avisés pour améliorer la fusion au sein du chœur et pour développer une couleur vocale agréable : les spécialistes de la voix dont vous trouvez ci-dessous les coordonnées sont prêts à venir travailler dans votre chorale selon vos besoins, soit dans le courant de la saison musicale, soit à l’approche du concert annuel ou du festival.</p>
<p>La rémunération horaire recommandée est de Fr 80.- et de Fr 100.- pour les formateurs au bénéfice d’un diplôme professionnel. Sur présentation de la facture, la Fédération alloue à ses sociétés membres un subside correspondant au 20 % du coût de la formation (maximum de 200 francs).</p>
<a href="">Cliquer ici pour obtenir la liste des contacts.</a>

</section>
</body>
</html>
