<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Un air de montagne 2018</h1>
<h3>Souvenir de l'édition 2016</h3>
<ul>
	<li><a href="">Article intéressant sur « Un Air de montagne » de l’Union Suisses des Chorales</a></li>
	<li><a href="">Article du Nouvelliste</a></li>
</ul>
<h3>Souvenir de l'édition 2015</h3>
<iframe width="500" src="https://www.youtube.com/embed/NZ9fX3toPwg"></iframe>
<h3>Souvenir de l'édition 2014</h3>
<table>
	<tr>
		<td>
			<img src="" alt="" style="width:80px">
		</td>
		<td>
			<img src="" alt="" style="width:80px">
		</td>
		<td>
			<img src="" alt="" style="width:80px">
		</td>
	</tr>
</table>

</section>
</body>
</html>
