<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
<h1>Aktualisierung der Chöre</h1>
<form action="">
	<select id="mySelect">
		<option disabled selected>Wählen Sie einen Chor aus</option>
		<option>Agarn, Kirchenchor</option>
		<option>Albinen, Kirchenchor</option>
		<option>Aproz, Choeur mixte Le Muguet</option>
		<option>Arbaz, Ch. d'enfants La Chanterelle</option>
	</select>
	<br/><br/>
	<input type="submit" value="Ändern">
</form>
</section>
</body>
</html>
