<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
<h1>AVCC-Präsentation</h1>
<p>Die Vereinigung Wallis des Chefs de Chœur (AVCC) ist eine Vereinigung, die seit mehr als 40 Jahren die Weiterbildung von Chordirigenten durch Kurse von renommierten und qualifizierten Lehrern fördern will. Sie setzt sich für die Interessen der Chorleiter ein, fördert eine qualitativ hochwertige Weiterbildung, pflegt die Kontakte zwischen ihren Mitgliedern und den offiziellen Stellen und bietet ihren Mitgliedern eine spezielle Dokumentation im Bereich des Chorgesangs.</p>
<p>Jedes Jahr organisiert sie allein oder in Zusammenarbeit mit der Fédération des Sociétés de Chant du Valais Seminare mit renommierten Köchen:</p>
<ul>
	<li>Schulungstage</li>
	<li>Themenabende</li>
	<li>spezielle Tage für Jugend- oder KinderchorleiterInnen</li>
	<li>Aktivitäten rund um den Chorfonds, der bei der Medienbibliothek Wallis hinterlegt ist</li>
</ul>
<p>Es fördert auch die Begegnung und den Austausch zwischen Dirigenten und bietet eine große Auswahl von mehr als 20.000 Partituren.</p>
<p>Vielen Dank, dass Sie uns helfen, die AVCC bekannt zu machen! Zögern Sie nicht, uns Ihre Wünsche, Anliegen, Favoriten oder Fragen mitzuteilen. Wir versuchen, unser Bestes zu geben, um Ihren Bedürfnissen gerecht zu werden.</p>
<p>Zögern Sie nicht, zu entdecken:</p>
<ul>
	<li><a href="">die AVCC-Historie</a></li>
	<li><a href="">unser Komitee</a></li>
	<li><a href="">unser Trainingsangebot</a></li>
	<li><a href="">unser Score-Fonds</a></li>
	<li><a href="">Fotos von unseren vergangenen Aktivitäten</a></li>
</ul>
</section>
</body>
</html>
