<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>AVCC-Historie</h1>
<p><b>Zielsetzung</b></p>
<p>Um den Chorleitern die Möglichkeit zu geben, ihre Ausbildung mit kompetenten Dozenten zu perfektionieren oder Anliegen und Freuden mit Kollegen zu teilen, setzt das AVCC seine anfängliche Tätigkeit mit seinen Förderungen und Dienstleistungen fort.</p>
</br>
<p><b>Fundament</b></p>
<p>Nach einem Wochenende der AVDC (Association Vaudoise des Directeurs de Chœurs) in Vérossaz beschlossen rund zehn walliserische Chordirigenten, die AVCC, die Association Wallisanne des Chefs de Chœur zu gründen. Diese Stiftung fand am 11. Oktober 1969 um Herrn Fernand Dubois, den verstorbenen Präsidenten des Kantonalen Gesangsverbandes, statt. Die Gründungsversammlung fand am 13. Dezember 1969 in Sion statt, in Anwesenheit von etwa dreißig Leitern, die den Aufruf entgegennahmen.</p>
</br>
<p><b>Präsidenten</b></p>
<p>Unter dem Vorsitz von Armand Blanc, Jean-Pierre Salamin, Pierre-Louis Nanchen, Pierre-Alain Barras, Samuel Emery und seit 2014 Jean-David Waeber hat die AVCC die von den Initiatoren und Gründern festgelegten Ziele ständig verfolgt und an den Geschmack und die Bedürfnisse des Augenblicks angepasst.</p>
</br>
<p><b>Foyer</b></p>
<p>Das Foyer Musical, das vom AVCC am 28. August 1979 im Maison Supersaxo in Martigny eröffnet wurde, wurde 1981 nach Sion verlegt, in das Foyer Don Bosco, dann bis 2009 in das Foyer de Mazerette. In diesem Jahr vermachte das AVCC seine Partiturensammlung der Médiathèque Wallis, um ihr mehr Sichtbarkeit in der Öffentlichkeit zu verschaffen. Diese Sammlung umfasst seit Jahren fast 20.000 Partituren und zahlreiche Sammlungen, Sammlungen und Tonträger, die alle von Edouard Delaloye, dem ersten Animateur, und dann von Anne-Françoise Andenmatten-Sierro, der derzeitigen Archivarin des Vereins, die seit 1985 tätig ist, aufgeführt werden.</p>
<p><a href="">Vollständige Geschichte von Leon Jordan</a></p>

</section>
</body>
</html>
