<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
<h1>Chorfonds und AVCC Home</h1>
<p>Das AVCC Foyer ist ein freundlicher Treffpunkt, an dem Sie allein, mit Ihrem Musikkomitee oder mit Ihrem Komitee kommen können, um Partituren und Dokumente einzusehen, bevor Sie ein Programm erstellen. Alle Dokumente sind vor Ort einzusehen. Sie sind im RERO-Katalog zu finden, mit einer Fülle von Informationen, die für Chorleiter nützlich sind. Ab Anfang 2018 wurde ein Teil dieser Musik in den freien Zugang des Médiathèque-Valais gestellt und kostenlos konsultiert. Es ist jedoch weiterhin möglich, einen Termin mit dem Archivar für eine gezielte Recherche oder Beratung zu vereinbaren.</p>
<p>Die Médiathèque Wallis in Sion befindet sich an der Rue de Lausanne 45.</p>
</br>
<p>Für die Recherche und Beratung von Partituren wenden Sie sich bitte vorab an uns:</p>
<p>Anne-Françoise Andenmatten Sierro</p>
<p>Private Telefonnummer : 027 323 19 28 oder 079 232 54 02</p>
<p>E-Mail : <a href="">annef-vociamici@bluewin.ch</a></p>
</br>
<p>Fast 20'000 Partituren</p>
<ul>
	<li>Säkulare</li>
	<li>Religiöse</li>
	<li>Von allen Zeiten und allen möglichen Arten</li>
	<li>Aus verschiedenen Verlagen</li>
	<li>Für alle Arten von Chören: gemischt, Damen, Herren, Jugendliche, Kinder, etc.</li>
</ul>
</br>
<p>Bücher und Dokumentationen</p>
<ul>
	<li>Musikalische Theorie</li>
	<li>Chormusik und Komponisten</li>
	<li>Chorleitung</li>
	<li>Pose der Stimme</li>
	<li>Aufzeichnungen</li>
	<li>Liturgische Rezensionen (Choristen, Neue Stimmen, Musikzeichen, Kirchenlieder usw.)</li>
	<li>Dokumente über die Liturgie, ihre Akteure, ihre Riten usw.</li>
</ul>
</section>
</body>
</html>
