<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Das FSCV rekrutiert</h1>
<p>Das Komitee der Föderation der Singenden Gesellschaften rekrutiert :</p>
<ul>
	<li>Französisch/Deutsch Übersetzer</li>
	<li>Projektleiter</li>
	<li>Verwaltungsfachleute</li>
	<ul>
		<li>PV-Schreiben</li>
		<li>Vertragsgestaltung</li>
		<li>Schreiben von Marketingunterlagen</li>
		<li>Schreiben von Finanzdateien</li>
	</ul>
	<li>Informatiker oder Weblösungen</li>
	<li>Spendenaktionen, Sponsoren und andere</li>
	<li>Kommunikationsspezialisten</li>
	<li>Event Creators</li>
	<li>Logistikspezialisten, Bauwesen</li>
	<li>Rechtsberatung, Sound-System</li>
	<li>Förderbänder für Musikanlagen</li>
	<li>Buchhalter</li>
</ul>
<p>Diejenigen, die sich an einer Beteiligung am FSCV beteiligen möchten, werden gebeten, sich an den Präsidenten, Herrn Laurent Bovier, unter der Nummer 078 657 43 77 zu wenden.</p>
</section>
</body>
</html>
