<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
<h1>Eine Bergmelodie 2018</h1>
<h3>Erinnerung an die Ausgabe 2016</h3>
<ul>
	<li><a href="">Interessanter Artikel über "Eine Bergmelodie" der Schweizerischen Chorunion</a></li>
	<li><a href="">Artikel von Le Nouvelliste</a></li>
</ul>
<h3>Erinnerung an die Ausgabe 2015</h3>
<iframe width="500" src="https://www.youtube.com/embed/NZ9fX3toPwg"></iframe>
<h3>Erinnerung an die Ausgabe 2014</h3>
<table>
	<tr>
		<td>
			<img src="" alt="" style="width:80px">
		</td>
		<td>
			<img src="" alt="" style="width:80px">
		</td>
		<td>
			<img src="" alt="" style="width:80px">
		</td>
	</tr>
</table>
</section>
</body>
</html>
