<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Allgemeiner Trainingsplan 2018-2019</h1>
<p>Hier ist das Trainingsprogramm für die Saison 2018-2019. Es steht allen Mitgliedern der Föderation offen, allen Gruppen zusammen.</p>
<a href=""><img src="" alt="Allgemeiner Trainingsplan 2018-2019" width="400"></a>

</section>
</body>
</html>
