<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">
<h1>Frapp'Festival</h1>
<p>Vor einigen Jahren hat die Fédération des Sociétés de chant du Valais mit ihrer Musikkommission eine Studie und Reflexion über die Zukunft der Walliser Chöre gestartet. In den letzten Jahren wurden Projekte erfolgreich umgesetzt. Das Frapp'Festival ist eines davon. Aus dem Wunsch heraus, eine Chortätigkeit für junge Menschen zu schaffen, ist dieses Festival vor allem ein Festival der Entdeckung und Begegnung zwischen jungen Walliser Sängern.</p>
<p>Die erste Ausgabe fand 2012 in Chermignon statt, die zweite am 12. März 2016 in Orsières. In dieser letzten Ausgabe folgten 9 Walliser Chöre dem Aufruf der Musikkommission des Fédération des Sociétés de Chant du Valais. Ein Freiburger Chor kam, um das anwesende Panel zu bereichern.</p>
<p>Am Nachmittag fanden drei Workshops mit drei renommierten Köchen statt, um originelle Facetten der Vokalmusik zu entdecken. Die erste mit Stéphane Cosandey (Bodypercussion), die zweite mit Thierry Dagon (Grafik) und die dritte mit Gonzague Monney (Vokalmusik).</p>
<p>Die Chöre sind anwesend: Ganea, Chermignon, GénérationS, Sierre, Chœur des jeunes de St-Martin, St-Martin, Chœur des jeunes "Flamme", Fully, Chœur des jeunes de St-Guérin, Sion, Chœur des CO, Martigny-Fully-Saxon, L'Annonciade - maîtrise de la Glâne, Romont, Chœur des jeunes du Bouveret, Bouveret, Chœur des jeunes de Bramois, Bramois und Chœ</p>
<p>Das Abschlusskonzert mit allen Chören fand am Abend im Mehrzwecksaal von Orsières statt, im zweiten Teil mit der Walliser Gruppe Wanted's.</p>
<h3>Erinnerungen an die Ausgabe 2016</h3>
<p>Zum Zeitpunkt der Beurteilung sind nur noch gute Erinnerungen vorhanden. <a href="FrappFestival2016.png">Hier ist die Zusammenfassung des von der Nouvelliste am Montag, den 14. März 2016, vorbereiteten Tages.</a></p>
<h3>Erinnerungen an die erste Ausgabe im Jahr 2012 (Fotograf: Philippe Martin)</h3>
<div class="gallery">
	<a target="_blank" href="">
		<img src="" width="100%">
	</a>
</div>
</section>
</body>
</html>
