<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Kontakt</h1>
<p>Danke für die Nachricht über dieses Formular, und wir werden uns so schnell wie möglich bei Ihnen melden. </p>
<form action="">
	Name: *<br/>
	<input type="text" name="Nom" required>
	<br/><br/>
	E-Mail: *<br/>
	<input type="text" name="Email" required>
	<br/><br/>
	Gegenstand: *<br/>
	<input type="text" name="Sujet" required>
	<br/><br/>
	Nachricht: *<br/>
	<textarea rows="8" cols="50" required></textarea>
	<br/><br/>
	<input type="submit" value="Senden">
</form>

</section>
</body>
</html>
