<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Lager</h1>
<h3>Flyer der Ausgaben 2016 & 2018</h3>
<ul>
	<li>Flyers 2018 (<a href="">Vorder-</a> und <a href="">Rückseite</a>)</li>
	<li>Flyers 2016 (<a href="">Vorder-</a> und <a href="">Rückseite</a>)</li>
</ul>
<h3>Erinnerung an die Ausgaben 2014, 2015, 2016</h3>
<iframe width="500" src="https://www.youtube.com/embed/9BDiX4TyrqI"></iframe>
<table>
	<tr>
		<td>
			<figure>
				<img src="" alt="" style="width:80px">
				<figcaption>Lager 2014</figcaption>
			</figure>
		</td>
		<td>
			<figure>
				<img src="" alt="" style="width:80px">
				<figcaption>Lager 2015</figcaption>
			</figure>
		</td>
		<td>
			<figure>
				<img src="" alt="" style="width:80px">
				<figcaption>Lager 2016</figcaption>
			</figure>
		</td>
	</tr>
</table>

</section>
</body>
</html>
