<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Pannenhilfe</h1>
<p>Köche zur Fehlerbehebung verfügbar</p>
<ul>
	<li>Anne Monique Corminboeuf, Sion, 027/ 323.14.18</li>
	<li>Marie Vouilloz, Fully, 027/ 746.39.18</li>
	<li>Claude Lamon, Flanthey, 027/ 458.17.47 – 079/ 421.00.91</li>
	<li>Michel Roulin, 1890 St-Maurice , Tél. 079/366.59.45 – myroule@hotmail.com</li>
	<li>Patricia Montangero, tous les soirs, 079 946 87 55, laplumedisis@gmail.com</li>
	<li>Romuald Abbet, Sierre, 076/343.24.53 romuald_abbet@bluewin.ch</li>
</ul>

</section>
</body>
</html>
