<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Präsentation</h1>
<p>Der Verband Walliser Gesangvereine (VWG) ist Mitglied der Schweizerischen Chorvereinigung (SCV) und vereinigt Erwachsenen-, Jugend- und Kinderchöre aus dem Unter- und Oberwallis.</p>
<p>Der Verband ist 1906 gegründet worden. Ihm gehören die Association Valaisanne des Chefs de Choeurs (AVCC) sowie 4 regionale Gruppierungen an: le Groupement des Sociétés de Chant du Bas-Valais (GSCBV), l’Union Chorale du Centre (UCC), le Groupement des Chanteurs du Valais Central (GCVC) und der Oberwalliser Chor- und Cäcilien Verband (OCV).</p>
<p>Der Verband besteht heute aus über 160 Erwachsenenchören mit mehr als 5000 Sängerinnen und Sängern. Auch die Jugend- und Kinderchöre sind Mitglieder des Verbands, was ihnen Zugang zum Ausbildungsangebot verschafft und die Unterstützung durch Erwachsenenchöre ermöglicht.</p>
<br/>
<h2>Groupements</h2>
<img src="carte-valais.gif" alt="Karte des Wallis" width="80">
<p>4 groupements régionaux et l'AVCC : </p>
<ul>
	<li style="color:#FF6600">Gruppe der Unterwalliser Gesangsvereine (GSCBV)</li>
	<li style="color:#FFFF00">Zentrum Chorunion (UCC)</li>
	<li style="color:#9900CC">Gruppierung der Chanten des Walliser Zentrums (GCVC)</li>
	<li style="color:#01FF01">Oberwalliser Chor- und Cäcilien Verband (OCV)</li>
	<li style="color:#FFFFCD">Walliser Vereinigung der Chordirigenten (AVCC)</li>
</ul>
<br/>
<h2>Organisation</h2>
<p>Der VWG wird von Laurent Bovier mit Kompetenz und Begeisterung präsidiert. Die Organisation besteht aus einem Leitenden Ausschuss, einem Kantonalvorstand und der Musikkommission. Die Präsidenten der regionalen Gruppierungen und der AVCC gehören ebenfalls dem Leitenden Ausschuss an.</p>
<img src="organigrammeFSCV.png" alt="FSCV Organigramm" width="150">
<a href="Statuts_FSCV.pdf">Hier können Sie die FSCV-Satzung herunterladen, die für die Generalversammlung vom 22. März 2014 in Brig verabschiedet wurde.</a>

</section>
</body>
</html>
