<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>SKJF - Unterstützung von Kinder- und Jugendchören</h1>
<p>Projektvorschlag von ASCEJ: Teilnahme eines grossen französischsprachigen Kinder- und Jugendchores am 6. Schweizerischen Kinder- und Jugendchorfestival (SKJF) in Lugano, Tessin, am Himmelfahrtswochenende im Mai 2017 (2 Tage, inklusive Reise). Weitere Informationen finden Sie in der beigefügten Projektpräsentation.</p>
<p align="center"><b>Deshalb laden wir Kinder und Jugendliche aus der Westschweiz ein.</b></p>
<p align="center"><b>um einen neuen großen ephemeren Chor zu bilden.</b></p>
<p>Bevor wir mit der Organisation dieses Projekts fortfahren, müssen wir Ihr Interesse daran und insbesondere eine vorläufige - nicht endgültige - Registrierung kennen! - Ihres Chores. Wenn Sie eines der 300 Chormitglieder sein möchten, die für das Projekt "ASCJ-SKJF-Tessin 2017" ausgewählt wurden, senden Sie bitte das beigefügte vorläufige Registrierungsformular bis zum 1. November 2015 zurück.</p>
<p>Das Funktionsprinzip ist wie folgt:</p>
<ul>
	<li>1. November 2015: Vorregistrierung von Chören</li>
	<li>Mitte September 2016: Endgültige Anmeldungen</li>
	<li>Ab Oktober 2016: Entschlüsselung und Arbeit der bereits gebildeten Chöre</li>
	<li>Ab Januar 2017: 3 Sammelproben (2 pro Gruppe + 1 General) werden nach der geografischen Herkunft der Chöre organisiert (für diese 3 Proben werden Reise und Kosten von den Chören getragen).</li>
</ul>
<p>Ein erstes Budget erlaubt es, die Kosten des Projekts auf rund CHF 100'000 zu schätzen. Es wird ein Betrag von CHF 90.00 pro Teilnehmer berechnet. Dazu gehören Registrierung, Reise und Unterkunft im Tessin.</p>
<p>Wir hoffen, dass dieses Projekt der gesamten Schweizer Chorkunst und insbesondere der Westschweiz Dynamik verleihen wird.</p>
<p><a href="">Projektpräsentation ASCEJ-SKJF-Tessin 2017ASCEJ-SKJF-Tessin 2017_Infos für ChöreASCEJ-SKJF-Tessin 2017_Voranmeldeformular</a></p>
<h3>Antrag auf Unterstützung für ein bestimmtes Chorprojekt</h3>
<p>Ein Gesuch um finanzielle Unterstützung für ein Projekt, an dem Sängerinnen und Sänger aus mindestens zwei verschiedenen Kantonen beteiligt sind, kann mit dem folgenden Dokument abgeschlossen werden.</p>
<ul>
	<li><a href="">ASCEJ Kriterien, die bei der Beantragung der Unterstützung für ein bestimmtes Chorprojekt zu erfüllen sind Antragsformular für die Unterstützung</a></li>
	<li><a href="">Formular für eine Supportanfrage</a></li>
</ul>

</section>
</body>
</html>
