<!DOCTYPE html>
<html>
<head>
</head>
<body>
<section class="col-md-8" style="padding-left:5%">

<h1>Stimmbildung im Chor</h1>
<p>Falls Sie sich Stimmbildung auf spielerische Art oder stimmtechnische Ratschläge zur Verbesserung des Chorklanges wünschen, dann können Sie auf die unten angeführte Stimmbilder zurückgreifen. Ob nun ein Konzert ansteht, der Chor sich auf das kantonale Gesangsfest vorbereitet, oder einfach am aktuellen Programm gearbeitet werden soll, das Programm und die Ziele dieser Zusammenarbeit werden ganz auf Ihre Bedürfnisse abgestimmt. Termine dazu können das ganze Jahr über gemacht werden.</p>
<p>Der empfohlene Stundenansatz für Stimmbildner mit Diplom beträgt Fr 80.- bis Fr 100.-. Gegen Vorlegen der Rechnung beteiligt sich der Verband mit 20% an den Kosten (im Maximum 200 Franken).</p>
<a href="">Klicken Sie hier für eine Liste der Kontakte.</a>

</section>
</body>
</html>
